  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="data"
      class="full-width-table"
      matSort
      aria-label="Elements"
    >
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>first_name</th>
        <td mat-cell *matCellDef="let row">{{ row.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>last_name</th>
        <td mat-cell *matCellDef="let row">{{ row.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>avatar</th>
        <td mat-cell *matCellDef="let row">
          <img loading="lazy" [src]="row.avatar" alt="" srcset="" />
        </td>
      </ng-container>

      <tr
        mat-row
        (click)="goToUser(row.id)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
    </table>

    <mat-paginator
      [length]="resultsLength"
      [pageSize]="per_page"
      aria-label="Select page of users search results"
    ></mat-paginator>
  </div>
